.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal-content {
    background: var(--bg-modal);
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    animation: fadeIn 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body {
    margin-top: 15px;
    display: grid;
    gap: 10px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  
  .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--colorText);
  }
  
  /* Type-specific styles */
  .modal-info {
    border-top: 4px solid var(--secondary500);
  }
  
  .modal-delete {
    border-top: 4px solid var(--danger400);
  }
  
  .modal-confirm {
    border-top: 4px solid var(--success500);
  }
  
  .modal-create {
    border-top: 4px solid var(--success300);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.97);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  